<mat-toolbar color="accent" class="pageHeader">
  <h2 fxFlex>Manage Roles</h2>
  <button matTooltip="Add Roles" [matTooltipPosition]="'below'" matTooltipClass="tooltip-clr" mat-mini-fab
    (click)="addRoles()" color="primary">
    <mat-icon mat-list-icon>note_add</mat-icon>
  </button>
</mat-toolbar>


<div fxLayout="row" fxLayout.xs="column" fxFlexFill>


  <ng-container *ngIf="listView">
    <mat-card-content fxLayout="column" fxFlex.gt-sm="20" fxFlex [fxHide.lt-md]="detailedView && mobileQuery.matches">
      <app-role-list fxLayout="column" fxFlexFill [roles]="roles" (onSelectRole)="onSelect($event)"
        [roleList]="getRolesList"></app-role-list>
    </mat-card-content>
  </ng-container>

  <div fxLayout="column" fxFlex.gt-sm="80" fxFlex fxHide.lt-md [fxShow.lt-md]="detailedView && mobileQuery.matches">
    <mat-card-content fxFlex>
      <div fxLayout="row" fxLayoutAlign="end center" *ngIf="mobileQuery.matches">
        <button mat-flat-button (click)="backToListView()">
          <mat-icon>arrow_back</mat-icon>back to list
        </button>
      </div>

      <app-role-details *ngIf="selectedRole" [selectedRole]="selectedRole" [roleList]="getRolesList"
        (onEditRole)="onEdit($event)" (onEditEntity)="onEntityEdit($event)" (onDeleteRole)="onDelete($event)"
        (deleteRoleEntityOperation)="deleteRoleEntityOperation($event)" fxLayout="column" fxFlexFill></app-role-details>
      <app-noitem *ngIf="!selectedRole" [noItem]="noItem" fxFlexFill></app-noitem>
    </mat-card-content>
  </div>


</div>