<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <div
      id="item3"
      style="min-height:30px"
      fxLayout="row"
      fxFlexFill
      fxLayout.xs="column"
    >
      <div id="item4" fxFlex="30" fxFlex.xs="50" class=" pa-1"></div>
      <div id="item5" fxFlex="70" fxFlex.xs="50" class=" pa-1">
        <mat-horizontal-stepper id="item6">
          <mat-step id="item7">
            <form id="item8" #item8="ngForm">
              <div id="item9" fxLayout="column">
                <h1 id="item28">NOT VERIFIED</h1>
                <mat-list
                  id="item15"
                  *ngFor="
                    let brandItem of notverifyproductResponseListItem.brand;
                    let i = index
                  "
                  (click)="brandSelectedItem = brandItem"
                >
                  <mat-list-item id="item16">
                    <img id="item17" matListAvatar="true" />
                    <h3 id="item18" matLine="true">
                      {{ notverifyproductResponseListItem.category }}
                    </h3>
                    <p id="item19" matLine="true">
                      <span id="item20">
                        {{ notverifyproductResponseListItem.price }}
                      </span>
                    </p>
                    <span id="item21">
                      <button
                        id="item22"
                        mat-icon-button
                        color="primary"
                        click="primary()"
                      >
                        <mat-icon id="item23">edit</mat-icon>
                      </button>
                    </span>
                    <span id="item24">
                      <button id="item25" mat-icon-button color="warn">
                        <mat-icon id="item26">delete</mat-icon>
                      </button>
                    </span>
                  </mat-list-item>
                  <mat-divider id="item27"></mat-divider>
                </mat-list>
              </div>
            </form>
          </mat-step>
          <mat-step id="item11">
            <form id="item12" #item12="ngForm">
              <h1 id="item29">VERIFIED</h1>
              <div id="item13" fxLayout="column"></div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </div>
    </div>
  </div>
</div>
