<mat-toolbar color="accent" class="pageHeader">
    <h2 fxFlex>Manage Entities</h2>
    <button matTooltip="Add Entity" [matTooltipPosition]="'below'" matTooltipClass="tooltip-clr" mat-mini-fab
        (click)="addEntity()" color="primary">
        <mat-icon mat-list-icon>note_add</mat-icon>
    </button>
</mat-toolbar>




<div fxLayout="row" fxLayout.xs="column" fxFlexFill>

    <ng-container *ngIf="listView">
        <mat-card-content fxLayout="column" fxFlex.gt-sm="20" fxFlex
            [fxHide.lt-md]="detailedView && mobileQuery.matches">
            <app-entities-list fxLayout="column" fxFlexFill (onSelectEntity)="onSelect($event)"></app-entities-list>
        </mat-card-content>
    </ng-container>

    <div fxLayout="column" fxFlex.gt-sm="80" fxFlex fxHide.lt-md [fxShow.lt-md]="detailedView && mobileQuery.matches">
        <mat-card-content fxFlex>

            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="mobileQuery.matches">
                <button mat-flat-button (click)="backToListView()">
                    <mat-icon>arrow_back</mat-icon>back to list
                </button>
            </div>

            <app-entities-details *ngIf="selectedEntity" [selectedEntity]="selectedEntity"
                (onEditEntity)="onEdit($event)" (onDeleteEntity)="onDelete($event)" fxLayout="column" fxFlexFill>
            </app-entities-details>
            <app-noitem *ngIf="!selectedEntity" [noItem]="noItem" fxFlexFill></app-noitem>
        </mat-card-content>
    </div>
</div>