<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <div
      id="item3"
      style="min-height:30px"
      fxFlex.gt-sm="50"
      fxFlex="100"
      *ngFor="let RichCardAddToCardItem of RichCardAddToCard; let i = index"
      (click)="RichCardAddToCardSelectedItem = RichCardAddToCardItem"
    >
      <mat-card id="item4">
        <mat-card-title id="item5" fxLayout="row">
          <span id="item6">Product Name</span>
          <span id="item7" fxFlex></span>
          <span id="item8" class=" mat-text-primary">$100.00</span>
        </mat-card-title>
        <mat-card-actions id="item10">
          <div id="item11" fxLayout="row">
            <button id="item12" mat-icon-button>
              <mat-icon id="item13">share</mat-icon>
            </button>
            <button id="item14" mat-icon-button>
              <mat-icon id="item15">favorite</mat-icon>
            </button>
            <span id="item16" fxFlex></span>
            <button id="item17" mat-raised-button color="warn">
              Add to cart
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
