<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <form id="item70" #item70="ngForm" (ngSubmit)="insert()">
      <mat-horizontal-stepper id="item18">
        <mat-step id="item19">
          <form id="item20" #item20="ngForm">
            <div id="item27" fxLayout="column" style="min-height:30px">
              <mat-form-field id="item44">
                <input
                  id="item45"
                  name="FullName"
                  matInput
                  placeholder=" Full Name"
                  [(ngModel)]="insertdetails.FullName"
                />
              </mat-form-field>
              <mat-form-field id="item46">
                <input
                  id="item47"
                  name="Phone"
                  matInput
                  placeholder=" Phone"
                  [(ngModel)]="insertdetails.Phone"
                />
              </mat-form-field>
              <mat-form-field id="item48">
                <input
                  id="item49"
                  name="Email"
                  matInput
                  placeholder=" Email"
                  [(ngModel)]="insertdetails.Email"
                />
              </mat-form-field>
              <mat-form-field id="item71">
                <input
                  id="item72"
                  name="password"
                  matInput
                  placeholder=" Password"
                  [(ngModel)]="insertdetails.password"
                />
              </mat-form-field>
              <button
                id="item52"
                mat-button="true"
                mat-raised-button="true"
                color="primary"
                type="button"
                matStepperNext
              >
                Next
              </button>
            </div>
          </form>
        </mat-step>
        <mat-step id="item23">
          <form id="item24" #item24="ngForm">
            <div id="item54" fxLayout="column" style="min-height:30px">
              <mat-form-field id="item55">
                <input
                  id="item56"
                  name="addressLineOne"
                  matInput
                  placeholder=" Address Line One"
                  [(ngModel)]="insertAddress.addressLineOne"
                />
              </mat-form-field>
              <mat-form-field id="item57">
                <input
                  id="item58"
                  name="addressLineTwo"
                  matInput
                  placeholder=" Address Line Two"
                  [(ngModel)]="insertAddress.addressLineTwo"
                />
              </mat-form-field>
              <mat-form-field id="item59">
                <input
                  id="item60"
                  name="city"
                  matInput
                  placeholder=" City"
                  [(ngModel)]="insertAddress.city"
                />
              </mat-form-field>
              <mat-form-field id="item61">
                <input
                  id="item62"
                  name="state"
                  matInput
                  placeholder=" State"
                  [(ngModel)]="insertAddress.state"
                />
              </mat-form-field>
              <mat-form-field id="item63">
                <input
                  id="item64"
                  name="pinCode"
                  matInput
                  placeholder=" Pin Code"
                  [(ngModel)]="insertAddress.pinCode"
                />
              </mat-form-field>
              <mat-form-field id="item65">
                <input
                  id="item66"
                  name="country"
                  matInput
                  placeholder=" Country"
                  [(ngModel)]="insertAddress.country"
                />
              </mat-form-field>
              <mat-form-field id="item67">
                <input
                  id="item68"
                  name="Phone2"
                  matInput
                  placeholder=" Phone2"
                  [(ngModel)]="insertAddress.Phone2"
                />
              </mat-form-field>
              <button
                id="item69"
                mat-button="true"
                mat-raised-button="true"
                color="primary"
                type="submit"
                (click)="insert()"
              >
                Submit
              </button>
            </div>
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</div>
