<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <div id="item6" fxLayout="row" fxLayoutGap="10px" style="min-height:30px">
      <div id="item10" fxLayout="column" style="min-height:30px">
        <div
          id="item18"
          fxLayout="row"
          fxLayoutGap="10px"
          style="min-height:30px"
        >
          <mat-card id="item29">
            <mat-form-field id="item22">
              <input id="item23" matInput />
              <img id="item31" src="img/avatar.png" style="width:50px" />
              <div
                id="item30"
                fxLayout="column"
                *ngFor="
                  let notverifiedResponseListItem of notverifiedResponseList;
                  let i = index
                "
                (click)="
                  notverifiedResponseListSelectedItem = notverifiedResponseListItem
                "
              >
                <mat-form-field id="item24">
                  <input id="item25" matInput />
                  {{ notverifiedResponseListItem.brand }}
                </mat-form-field>
              </div>
            </mat-form-field>
          </mat-card>
          <mat-card id="item37">
            <div
              id="item33"
              fxLayout="column"
              *ngFor="
                let notverifiedResponseListItem of notverifiedResponseList;
                let i = index
              "
              (click)="
                notverifiedResponseListSelectedItem = notverifiedResponseListItem
              "
            >
              <img id="item34" src="assets/fashion3.jpg" style="width:50px" />
              <mat-form-field id="item35">
                <input id="item36" matInput />
                {{ notverifiedResponseListItem.brand }}
              </mat-form-field>
              <button
                id="item39"
                mat-button="true"
                mat-raised-button="true"
                color="primary"
                type="submit"
              >
                Buy
              </button>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
