<mat-toolbar color="accent" class="pageHeader">
    <h2 fxFlex> Users</h2>
    <button matTooltip="Add user" [matTooltipPosition]="'below'" matTooltipClass="tooltip-clr" mat-mini-fab
        (click)="addUser()" color="primary">
        <mat-icon mat-list-icon>note_add</mat-icon>
    </button>
</mat-toolbar>


<div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <ng-container *ngIf="listView">
        <mat-card-content fxLayout="column" fxFlex.gt-sm="20" fxFlex
            [fxHide.lt-md]="detailedView && mobileQuery.matches">
            <app-user-list fxLayout="column" fxFlexFill (onSelectUser)="onSelect($event)"></app-user-list>
        </mat-card-content>
    </ng-container>

    <div fxLayout="column" fxFlex.gt-sm="80" fxFlex fxHide.lt-md [fxShow.lt-md]="detailedView && mobileQuery.matches">

        <mat-card-content fxFlex>

            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="mobileQuery.matches">
                <button mat-flat-button (click)="backToListView()">
                    <mat-icon>arrow_back</mat-icon>back to list
                </button>
            </div>
            <app-user-details *ngIf="selectedUser" [(selectedUser)]="selectedUser" (onEditUser)="onEdit($event)"
                (onDeleteUser)="onDelete($event)" fxLayout="column" fxFlexFill></app-user-details>
            <app-noitem *ngIf="!selectedUser" [noItem]="noItem" fxFlexFill></app-noitem>
        </mat-card-content>
    </div>


</div>