<mat-card fxFlex>
    <mat-card-header fxLayout="row">
        <div fxFlex="15">
            <mat-card-title>Role Name</mat-card-title>
        </div>
        <div>
            <mat-card-subtitle>{{selectedRole.RoleName}}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h4>Parents</h4>
        <mat-chip-list aria-label="Fish selection">
            <ng-container *ngFor="let parentRole of roleList">
                <mat-chip color="primary" *ngIf="parentRole.isChecked" selected>{{parentRole.RoleName}}</mat-chip>
            </ng-container>
        </mat-chip-list>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <h3 style="margin-top:10px;">Entity Operations</h3>
            <button mat-button (click)="addEntity()" color="primary">Add Entity</button>
        </div>

        <!-- <p>{{roleEntityOperations | json}}</p> -->
        <!-- <grid-view-roles [dataSource]="roleEntityOperations" [(dataSourceParameters)]="roleEntityOperationFilter" (dataSourceRefresh)="getRoleEntities()" [recordsTotal]="roleEntityOperationsTotal">
        </grid-view-roles> -->

        <table mat-table [dataSource]="roleEntityOperations" class="mat-elevation-z8" fxFlex>
            <ng-container matColumnDef="EntityName">
                <th mat-header-cell *matHeaderCellDef> Entity Name </th>
                <td mat-cell *matCellDef="let element"> {{element.EntityName}} </td>
            </ng-container>
            <ng-container matColumnDef="OperationName">
                <th mat-header-cell *matHeaderCellDef> Operation Name </th>
                <td mat-cell *matCellDef="let element"> {{element.OperationName}} </td>
            </ng-container>
            <ng-container matColumnDef="Delete">
                <th mat-header-cell *matHeaderCellDef> Delete </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="deleteIcon" (click)="delete(element, $event)">delete</mat-icon>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </mat-card-content>
    <mat-card-actions dir="rtl" fxLayoutGap="15px">
        <!-- <button mat-flat-button color="primary" (click)="onEdit()">Edit</button> -->
        <button mat-flat-button color="warn" (click)="onDelete()">Delete</button>
    </mat-card-actions>
</mat-card>