<div fxFlex fxLayout="column">
    <mat-list *ngIf="operationList && operationList.length > 0">
        <mat-list-item *ngFor="let operation of operationList" [class.selected]="operation === selectedOperation"
            (click)="emitSelectedOperation(operation)">
            <div mat-list-icon class="ui-avatar color-primary">{{operation.OperationName | slice:0:1 | uppercase}}</div>
            <h4 mat-line>{{operation.OperationName}}</h4>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <dew-mat-pager fxFlex="10" [(filter)]="operationListFilters" (onPageChange)="pageChange()" [totalItem]="operationListTotal"></dew-mat-pager>
</div>