<!-- <h1 mat-dialog-title>addproduct</h1> -->
<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <form id="item43" #item43="ngForm">
    <div
      id="item23"
      style="min-height:30px"
      fxLayout="row"
      fxFlexFill
      fxLayout.xs="column"
    >
      <div id="item24" fxFlex="30" fxFlex.xs="50" class=" pa-1">
        <div id="item31" fxLayout="column">
          <h1 id="item32">Add Product</h1>
        </div>
        <mat-card id="item27">
          <div id="item29" fxLayout="column">
            <form id="item30" #item30="ngForm">
              <mat-form-field id="item33">
                <input
                  id="item34"
                  name="brand"
                  matInput
                  placeholder=" Brand"
                  [(ngModel)]="addProduct.brand"
                />
              </mat-form-field>
              <mat-form-field id="item35">
                <input
                  id="item36"
                  name="category"
                  matInput
                  placeholder=" Category"
                  [(ngModel)]="addProduct.category"
                />
              </mat-form-field>
              <mat-form-field id="item37">
                <input
                  id="item38"
                  name="price"
                  matInput
                  placeholder=" Price"
                  [(ngModel)]="addProduct.price"
                />
              </mat-form-field>
              <mat-form-field id="item39">
                <input
                  id="item40"
                  name="productquantity"
                  matInput
                  placeholder=" Productquantity"
                  [(ngModel)]="addProduct.productquantity"
                />
              </mat-form-field>
            </form>
          </div>
        </mat-card>
      </div>
      <div id="item25" fxFlex="70" fxFlex.xs="50" class=" pa-1">
        <mat-card id="item28">
          <div id="item41" fxLayout="column">
            <form id="item42" #item42="ngForm">
              <mat-form-field id="item44">
                <input
                  id="item45"
                  name="description"
                  matInput
                  placeholder=" Description"
                  [(ngModel)]="addSpecification.description"
                />
              </mat-form-field>
              <mat-form-field id="item46">
                <input
                  id="item47"
                  name="productName"
                  matInput
                  placeholder=" Product Name"
                  [(ngModel)]="addSpecification.productName"
                />
              </mat-form-field>
              <mat-form-field id="item48">
                <input
                  id="item49"
                  name="size"
                  matInput
                  placeholder=" Size"
                  [(ngModel)]="addSpecification.size"
                />
              </mat-form-field>
              <mat-form-field id="item50">
                <input
                  id="item51"
                  name="colour"
                  matInput
                  placeholder=" Colour"
                  [(ngModel)]="addSpecification.colour"
                />
              </mat-form-field>
              <mat-form-field id="item52">
                <input
                  id="item53"
                  name="returnPolicy"
                  matInput
                  placeholder=" Return Policy"
                  [(ngModel)]="addSpecification.returnPolicy"
                />
              </mat-form-field>
              <mat-form-field id="item54">
                <input
                  id="item55"
                  name="termsAndCondition"
                  matInput
                  placeholder=" Terms And Condition"
                  [(ngModel)]="addSpecification.termsAndCondition"
                />
              </mat-form-field>
            </form>
          </div>
        </mat-card>
      </div>
    </div>
  </form>
</div>
