<!-- <h1 mat-dialog-title>productadd</h1> -->
<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <form id="item43" #item43="ngForm">
    <div
      id="item23"
      style="min-height:30px"
      fxLayout="row"
      fxFlexFill
      fxLayout.xs="column"
    >
      <div id="item24" fxFlex="30" fxFlex.xs="50" class=" pa-1">
        <div id="item31" fxLayout="column">
          <h1 id="item32">Add Product</h1>
        </div>
        <mat-card id="item27">
          <div id="item29" fxLayout="column"></div>
        </mat-card>
      </div>
      <div id="item25" fxFlex="70" fxFlex.xs="50" class=" pa-1">
        <mat-card id="item28">
          <div id="item41" fxLayout="column"></div>
        </mat-card>
      </div>
    </div>
  </form>
</div>
