<!-- <h1 mat-dialog-title>sellerRegistraion</h1> -->
<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <mat-card id="item3">
      <form id="item4" #item4="ngForm" (ngSubmit)="insertFun()">
        <mat-horizontal-stepper id="item5">
          <mat-step id="item6">
            <form id="item7" #item7="ngForm">
              <h2 id="item39">Seller Details</h2>
              <mat-form-field id="item18">
                <input id="item19" matInput />
              </mat-form-field>
              <mat-form-field id="item20">
                <input id="item21" matInput />
              </mat-form-field>
              <mat-form-field id="item22">
                <input id="item23" matInput />
              </mat-form-field>
              <mat-form-field id="item34">
                <input id="item35" matInput />
              </mat-form-field>
              <mat-form-field id="item36">
                <input id="item37" matInput />
              </mat-form-field>
              <button
                id="item24"
                mat-button="true"
                mat-raised-button="true"
                color="primary"
                type="button"
                matStepperNext
              >
                Next
              </button>
            </form>
          </mat-step>
          <mat-step id="item10">
            <form id="item11" #item11="ngForm">
              <h2 id="item38">Address Details</h2>
              <mat-form-field id="item25">
                <input id="item26" matInput />
              </mat-form-field>
              <mat-form-field id="item27">
                <input id="item28" matInput />
              </mat-form-field>
              <mat-form-field id="item29">
                <input id="item30" matInput />
              </mat-form-field>
              <mat-form-field id="item31">
                <input id="item32" matInput />
              </mat-form-field>
              <mat-form-field id="item40">
                <input id="item41" matInput />
              </mat-form-field>
              <button
                id="item33"
                mat-button="true"
                mat-raised-button="true"
                color="primary"
                type="submit"
              >
                Submit
              </button>
            </form>
          </mat-step>
          <mat-step id="item14">
            <form id="item15" #item15="ngForm">
              <div id="item16" fxLayout="column">
                <button
                  id="item17"
                  mat-button="true"
                  mat-raised-button="true"
                ></button>
              </div>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </mat-card>
  </div>
</div>
