<h1 mat-dialog-title>Change Password</h1>
<div mat-dialog-content fxLayout="column">
    <form [formGroup]="changePasswordForm" fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Old Password" type="password" minlength="5" formControlName="oldpassword"
                required>
            <mat-error *ngIf="isFieldInvalid('oldpassword')">Old Password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="New Password" type="password" name="new" minlength="5"
                formControlName="newpassword" required>
            <mat-error *ngIf="isFieldInvalid('newpassword')">New Password is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm Password" type="password" formControlName="confirmpassword" required>
            <mat-error
                *ngIf="isFieldInvalid('confirmpassword') && !changePasswordForm.controls['confirmpassword'].errors.required">
                Confirm Password is required</mat-error>
            <mat-error
                *ngIf="isFieldInvalid('confirmpassword')  && changePasswordForm.controls['confirmpassword'].errors.equalTo">
                Password do not match</mat-error>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="cancelPopup()">Cancel</button>
    <button mat-button (click)="ok()" [disabled]="!changePasswordForm.valid" cdkFocusInitial>Save</button>
</div>