<h1 mat-dialog-title>Edit Terms and Conditions</h1>
<div mat-dialog-content fxLayout="column">
  <quill-editor [(ngModel)]="termsAndCondtions.editorValue" trackChanges="all" ngDefaultControl
    name="tac" format="html">

  </quill-editor>
</div>

<div mat-dialog-actions fxLayout="row" fxLayoutAlign="end end">
  <button mat-button="true" mat-flat-button="true" (click)="cancel()" type="cancel">
    Cancel
  </button>

  <button mat-button="true" mat-flat-button="true" (click)="saveTermAndConditions()" color="primary" type="submit">
    Update
  </button>
</div>