<div fxFlex="100" fxLayout="column">
    <div>
        <input class="input-filter" [(ngModel)]="filter.term" name="{{filter.fieldName}}" placeholder="Search {{filter.fieldName}}" />
    </div>
    <!-- <div class="select-dropdown">
        <select placeholder="Conditions" [(value)]="filter.condition" (selectionChange)="filterTypeChanged(filter.condition)">
            <option value="EXACT"> EXACT </option>
            <option value="NOT_EQUAL"> NOT_EQUAL </option>
            <option value="LESS_THAN"> LESS_THAN </option>
            <option value="LESS_THAN_OR_EQUAL"> LESS_THAN_OR_EQUAL </option>
            <option value="GREATER_THAN"> GREATER_THAN </option>
            <option value="GREATER_THAN_OR_EQUAL"> GREATER_THAN_OR_EQUAL </option>
            <option value="STARTS_WITH"> STARTS_WITH </option>
            <option value="ENDS_WITH"> ENDS_WITH </option>
            <option value="CONTAINS"> CONTAINS </option>
        </select>
    </div> -->
    <div id="material-select">
        <mat-form-field>
            <mat-select [(value)]="filter.condition" (selectionChange)="filterTypeChanged(filter.condition)">
                 <mat-option value="EXACT"> EXACT </mat-option>
                 <mat-option value="NOT_EQUAL"> NOT_EQUAL </mat-option>
                 <mat-option value="LESS_THAN"> LESS_THAN </mat-option>
                 <mat-option value="LESS_THAN_OR_EQUAL"> LESS_THAN_OR_EQUAL </mat-option>
                 <mat-option value="GREATER_THAN"> GREATER_THAN </mat-option>
                 <mat-option value="GREATER_THAN_OR_EQUAL"> GREATER_THAN_OR_EQUAL </mat-option>
                 <mat-option value="STARTS_WITH"> STARTS_WITH </mat-option>
                 <mat-option value="ENDS_WITH"> ENDS_WITH </mat-option>
                 <mat-option value="CONTAINS"> CONTAINS </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <!-- <mat-toolbar color="primary" fxLayoutAlign="start center" fxLayoutGap="10px" fxFlexFill>
            <button md-icon-button [matMenuTriggerFor]="filtertype">
                <mat-icon>filter_list</mat-icon>
            </button>
            <mat-menu #filtertype="matMenu">
                <button mat-menu-item (click)="filterTypeChanged('EXACT')">EXACT</button>
                <button mat-menu-item (click)="filterTypeChanged('NOT_EQUAL')">NOT EQUAL</button>
                <button mat-menu-item (click)="filterTypeChanged('LESS_THAN')">LESS THAN</button>
                <button mat-menu-item (click)="filterTypeChanged('LESS_THAN_OR_EQUAL')">LESS THAN OR EQUAL</button>
                <button mat-menu-item (click)="filterTypeChanged('GREATER_THAN')">GREATER THAN</button>
                <button mat-menu-item (click)="filterTypeChanged('GREATER_THAN_OR_EQUAL')">GREATER THAN OR EQUAL</button>
                <button mat-menu-item (click)="filterTypeChanged('STARTS_WITH')">STARTS WITH</button>
                <button mat-menu-item (click)="filterTypeChanged('ENDS_WITH')">ENDS WITH</button>
                <button mat-menu-item (click)="filterTypeChanged('CONTAINS')">CONTAINS</button>
            </mat-menu>
        </mat-toolbar> -->
</div>