<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <mat-card id="item3">
      <form id="item4" #item4="ngForm">
        <mat-horizontal-stepper id="item5">
          <mat-step id="item6">
            <form id="item7" #item7="ngForm">
              <div id="item8" fxLayout="column"></div>
              <mat-form-field id="item14">
                <input
                  id="item15"
                  name="FullName"
                  matInput
                  placeholder=" Full Name"
                  [(ngModel)]="insertSellerDetails.FullName"
                />
              </mat-form-field>
              <mat-form-field id="item16">
                <input
                  id="item17"
                  name="Email"
                  matInput
                  placeholder=" Email"
                  [(ngModel)]="insertSellerDetails.Email"
                />
              </mat-form-field>
              <mat-form-field id="item18">
                <input
                  id="item19"
                  name="Password"
                  matInput
                  placeholder=" Password"
                  [(ngModel)]="insertSellerDetails.Password"
                />
              </mat-form-field>
              <mat-form-field id="item20">
                <input
                  id="item21"
                  name="Phone"
                  matInput
                  placeholder=" Phone"
                  [(ngModel)]="insertSellerDetails.Phone"
                />
              </mat-form-field>
              <mat-form-field id="item22">
                <input
                  id="item23"
                  name="GSTnumber"
                  matInput
                  placeholder=" G S Tnumber"
                  [(ngModel)]="insertSellerDetails.GSTnumber"
                />
              </mat-form-field>
              <mat-form-field id="item32">
                <input
                  id="item33"
                  name="logo"
                  matInput
                  placeholder=" Logo"
                  [(ngModel)]="insertSellerDetails.logo"
                />
              </mat-form-field>
              <button
                id="item34"
                mat-button="true"
                mat-raised-button="true"
                color="primary"
                type="button"
                matStepperNext
              >
                Next
              </button>
            </form>
          </mat-step>
          <mat-step id="item10">
            <form id="item11" #item11="ngForm">
              <div id="item12" fxLayout="column"></div>
              <mat-form-field id="item24">
                <input
                  id="item25"
                  name="addressOne"
                  matInput
                  placeholder=" Address One"
                  [(ngModel)]="insertSellerAddress.addressOne"
                />
              </mat-form-field>
              <mat-form-field id="item26">
                <input
                  id="item27"
                  name="addressTwo"
                  matInput
                  placeholder=" Address Two"
                  [(ngModel)]="insertSellerAddress.addressTwo"
                />
              </mat-form-field>
              <mat-form-field id="item28">
                <input
                  id="item29"
                  name="city"
                  matInput
                  placeholder=" City"
                  [(ngModel)]="insertSellerAddress.city"
                />
              </mat-form-field>
              <mat-form-field id="item30">
                <input
                  id="item31"
                  name="state"
                  matInput
                  placeholder=" State"
                  [(ngModel)]="insertSellerAddress.state"
                />
              </mat-form-field>
              <mat-form-field id="item36">
                <input
                  id="item37"
                  name="pincode"
                  matInput
                  placeholder=" Pincode"
                  [(ngModel)]="insertSellerAddress.pincode"
                />
              </mat-form-field>
              <mat-form-field id="item38">
                <input
                  id="item39"
                  name="country"
                  matInput
                  placeholder=" Country"
                  [(ngModel)]="insertSellerAddress.country"
                />
              </mat-form-field>
              <button
                id="item35"
                mat-button="true"
                mat-raised-button="true"
                color="primary"
                type="submit"
                (click)="insertData()"
              >
                Submit
              </button>
            </form>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </mat-card>
  </div>
</div>
