<mat-toolbar color="accent" class="pageHeader">
  <h2 fxFlex style="text-align:center">Contact Us</h2>
</mat-toolbar>
<div fxLayout="row wrap" fxLayoutAlign="center start" class="mat-typography">
  <div fxFlex.gt-sm="60" fxFlex="100">
    <mat-card class="mat-card-top">
      <mat-card-content>
        <div fxLayout="row" class="m10" fxLayoutGap="20px">
          <div fxFlex="40">
            <h3>Do you have any questions? Please do not hesitate to contact us directly. Our
              team
              will come back to you within
              a matter of hours to help you.</h3>
            <ul class="list-unstyled mb-0">
              <li fxLayout="row">
                <mat-icon mat-list-icon style="min-width: 30px; text-align: center;margin-right: 10px;">location_pin
                </mat-icon>
                <p>Monday to Friday
                  9:00 AM – 9:00 PM</p>
              </li>
              <li fxLayout="row">
                <mat-icon mat-list-icon style="min-width: 30px; text-align: center;margin-right: 10px;">phone</mat-icon>
                <p>+ 01 512-347-7722</p>
              </li>
              <li fxLayout="row">
                <mat-icon mat-list-icon style="min-width: 30px; text-align: center;margin-right: 10px;">email</mat-icon>
                <p>care@aspiretoage.com</p>
              </li>
            </ul>
          </div>
          <div fxFlex="60">
            <form name="form" #f="ngForm" (ngSubmit)="f.valid && onSubmitMember(f)"
              [mustMatch]="['password', 'confirmPassword']" novalidate>
              <div fxLayout="column">
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                  <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>First Name</mat-label>
                    <input tabindex="3" matInput type="text" placeholder="First Name" [(ngModel)]="user.firstName"
                      name="firstName" #firstName="ngModel" required pattern="^([a-zA-Z]+[,.]?[ ]?|[a-zA-Z]+['-]?)+$"
                      maxlength="50">
                    <mat-error
                      *ngIf="(f.submitted || firstName.touched || firstName.dirty) && firstName.invalid && firstName.errors.required">
                      First Name is required
                    </mat-error>
                    <mat-error
                      *ngIf="(f.submitted || firstName.touched || firstName.dirty) && firstName.errors?.pattern">
                      First
                      name is invalid.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>Last Name</mat-label>
                    <input tabindex="4" matInput type="text" placeholder="Last Name" [(ngModel)]="user.lastName"
                      name="lastName" #lastName="ngModel" required pattern="^([a-zA-Z]+[,.]?[ ]?|[a-zA-Z]+['-]?)+$"
                      maxlength="50">
                    <mat-error
                      *ngIf="(f.submitted || lastName.touched || lastName.dirty) && lastName.invalid && lastName.errors.required">
                      Last Name is required
                    </mat-error>
                    <mat-error *ngIf="(f.submitted || lastName.touched || lastName.dirty) && lastName.errors?.pattern">
                      Last
                      name
                      is invalid.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                  <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input tabindex="5" matInput placeholder="Phone Number" [(ngModel)]="user.phonenumber"
                      name="phonenumber" #phonenumber="ngModel" required mask="(000) 000-0000"
                      pattern="^[0][1-9]\d{9}$|^[1-9]\d{9}$" (keypress)="numberOnly($event)">
                    <mat-error
                      *ngIf="(f.submitted || phonenumber.touched || phonenumber.dirty)  && phonenumber.invalid && phonenumber.errors.required">
                      Phone number is required
                    </mat-error>
                    <mat-error
                      *ngIf="(f.submitted || phonenumber.touched || phonenumber.dirty) && phonenumber.errors?.pattern">
                      Phone number is invalid.
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field fxFlex="50" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input tabindex="6" matInput type="email" emailUnique placeholder="Email" [(ngModel)]="user.email"
                      name="email" #email="ngModel" required
                      pattern="[a-zA-Z0-9_.%!+-/&quot;/]+@[a-zA-Z0-9.]+\.[a-zA-Z]{2,6}$" maxlength="50">
                    <mat-error *ngIf="(f.submitted || email.touched || email.dirty)  && email.errors?.required">Email is
                      required</mat-error>
                    <mat-error *ngIf="(f.submitted || email.touched || email.dirty) && email.errors?.pattern">Email must
                      be a
                      valid email address
                    </mat-error>
                    <mat-error *ngIf="(f.submitted || email.touched || email.dirty) && email.errors?.uniqueUser">Email
                      already
                      exists.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                  <mat-form-field fxFlex="100" appearance="outline">
                    <mat-label>Feedbacks</mat-label>
                    <textarea tabindex="5" pattern="^([a-zA-Z]+[,.]?[ ]?|[a-zA-Z]+['-]?)+$" matInput
                      placeholder="Comments/Feedbacks" [(ngModel)]="user.feedback" name="feedback" #feedback="ngModel"
                      required> </textarea>
                    <mat-error
                      *ngIf="(f.submitted || feedback.touched || feedback.dirty)  && feedback.invalid && feedback.errors.required">
                      Feedback is required
                    </mat-error>
                    <mat-error *ngIf="(f.submitted || feedback.touched || feedback.dirty) && feedback.errors?.pattern">
                      Feedback is invalid.
                    </mat-error>
                  </mat-form-field>
                </div>
                <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px">
                </div>
              </div>
              <div class="registerMember" fxLayoutAlign="start center" fxLayoutGap="10px" fxLayout="row"
                fxLayout.lt-sm="column">
                <button tabindex="19" mat-flat-button color="warn" type="button" (click)="f.form.reset()">Reset</button>
                <button tabindex="20" mat-flat-button color="primary" type="submit"
                  [disabled]="!f.valid">Submit</button>
              </div>
            </form>

          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>