<table datatable [dtOptions]="dtOptions" (dtInstanceCallback)="dtInstanceCallback($event)" class="row-border hover">
    <thead>
        <tr>
            <th>Code Name
                <datatable-filter [(filter)]="filters.CodeName" (onSearch)="filterChanged()"></datatable-filter>
            </th>
            <th>Code Value
                <datatable-filter [(filter)]="filters.CodeValue" (onSearch)="filterChanged()"></datatable-filter>
            </th>
            <th>Code Display Value
                <datatable-filter [(filter)]="filters.CodeDisplayValue" (onSearch)="filterChanged()"></datatable-filter>
            </th>
            <th>Code Value Description
                <datatable-filter [(filter)]="filters.CodeValueDescription" (onSearch)="filterChanged()"></datatable-filter>
            </th>
            <th>Code Sequence
                <datatable-filter [(filter)]="filters.CodeSequence" (onSearch)="filterChanged()"></datatable-filter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataSource">
            <td>{{ item.CodeName }}</td>
            <td>{{ item.CodeValue }}</td>
            <td>{{ item.CodeDisplayValue }}</td>
            <td>{{ item.CodeValueDescription }}</td>
            <td>{{ item.CodeSequence }}</td>
        </tr>
    </tbody>
</table>