<mat-card>
    <!-- <codetables-grid-view id="item15" style="min-height:500px;" [dataSource]="getCodeTableList" [(dataSourceParameters)]="getCodeTableListFilters" (dataSourceRefresh)="getCodeTableByName()" [recordsTotal]="applicationusersListTotal">
    </codetables-grid-view> -->
    <mat-card-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutAlign="space-between">
            <div fxLayout="column">
                <h3 style="margin-top:10px;">Code Tables of {{selectedCodeTableHeader.CodeName}}</h3>
                <p> {{selectedCodeTableHeader.CodeNameDescription}}</p>
            </div>
            <button mat-button (click)="addCodeTable()" color="primary">Add Code Table</button>
        </div>
        <div *ngIf="CodeTableList && CodeTableList.length > 0">
            <table mat-table [dataSource]="CodeTableList" class="mat-elevation-z5" fxFlex>
                <ng-container matColumnDef="CodeId">
                    <th mat-header-cell *matHeaderCellDef> Code Id </th>
                    <td mat-cell *matCellDef="let element"> {{element.CodeId}} </td>
                </ng-container>
                <ng-container matColumnDef="CodeName">
                    <th mat-header-cell *matHeaderCellDef> Code Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.CodeName}} </td>
                </ng-container>
                <ng-container matColumnDef="CodeDisplayValue">
                    <th mat-header-cell *matHeaderCellDef> Code Display Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.CodeDisplayValue}} </td>
                </ng-container>
                <ng-container matColumnDef="CodeValue">
                    <th mat-header-cell *matHeaderCellDef> Code Value </th>
                    <td mat-cell *matCellDef="let element"> {{element.CodeValue}} </td>
                </ng-container>
                <ng-container matColumnDef="CodeValueDescription">
                    <th mat-header-cell *matHeaderCellDef> Code Value Description </th>
                    <td mat-cell *matCellDef="let element"> {{element.CodeValueDescription}} </td>
                </ng-container>
                <ng-container matColumnDef="CodeSequence">
                    <th mat-header-cell *matHeaderCellDef> Code Sequence </th>
                    <td mat-cell *matCellDef="let element"> {{element.CodeSequence}} </td>
                </ng-container>
                <ng-container matColumnDef="edit" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Edit </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="editIcon" (click)="editCodeTable(element)">edit</mat-icon>
                    </td>
                </ng-container>
                <ng-container matColumnDef="delete" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef> Delete </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon class="deleteIcon" (click)="deleteCodeTable(element, $event)">delete</mat-icon>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <app-noitem *ngIf="!CodeTableListTotal" fxFlexFill></app-noitem>

        <dew-mat-pager *ngIf="CodeTableListTotal" fxFlex="10" [(filter)]="CodeTableListFilters"
            (onPageChange)="pageChange()" [totalItem]="CodeTableListTotal"></dew-mat-pager>

    </mat-card-content>
</mat-card>