<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <h1 id="item10">WELL COME</h1>
  <form id="item41" #item41="ngForm">
    <div
      id="item38"
      style="min-height:30px"
      fxLayout="row"
      fxFlexFill
      fxLayout.xs="column"
    >
      <div id="item39" fxFlex="30" fxFlex.xs="50" class=" pa-1">
        <div id="item42" fxLayout="column">
          <h1 id="item43"></h1>
        </div>
        <div id="item13" fxLayout="column" style="min-height:30px">
          <form id="item44" #item44="ngForm">
            <mat-form-field id="item45">
              <input id="item46" matInput />
            </mat-form-field>
            <mat-form-field id="item47">
              <input id="item48" matInput />
            </mat-form-field>
            <mat-form-field id="item49">
              <input id="item50" matInput />
            </mat-form-field>
            <mat-form-field id="item51">
              <input id="item52" matInput />
            </mat-form-field>
          </form>
        </div>
      </div>
      <div id="item40" fxFlex="70" fxFlex.xs="50" class=" pa-1">
        <form id="item9" #item9="ngForm">
          <div id="item53" fxLayout="column" style="min-height:30px">
            <mat-form-field id="item54">
              <input id="item55" matInput />
            </mat-form-field>
            <mat-form-field id="item56">
              <input id="item57" matInput />
            </mat-form-field>
            <mat-form-field id="item58">
              <input id="item59" matInput />
            </mat-form-field>
            <mat-form-field id="item60">
              <input id="item61" matInput />
            </mat-form-field>
            <mat-form-field id="item62">
              <input id="item63" matInput />
            </mat-form-field>
            <mat-form-field id="item64">
              <input id="item65" matInput />
            </mat-form-field>
          </div>
        </form>
      </div>
    </div>
  </form>
</div>
