<!-- <div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
   
  </div>
  <form id="item109" #item109="ngForm" (ngSubmit)="sellerorderStatus()">
    <div id="item89" style="min-height:30px" fxFlex.gt-sm="50" fxFlex="100">
      <mat-card id="item90">
        <mat-card-title id="item91" fxLayout="row">
          <span id="item92">
            {{ productConfirmationbySellerResponseListItem.brand }}
          </span>
          <span id="item93" fxFlex>
            {{ productConfirmationbySellerResponseListItem.productName }}
          </span>
          <span id="item94" class=" mat-text-primary">
            {{ productConfirmationbySellerResponseListItem.totalsale }}
          </span>
        </mat-card-title>
        <mat-card-actions id="item96">
          <img
            id="item104"
            [src]="productConfirmationbySellerResponseListItem.image"
            style="width:700px"
          />
          <div id="item97" fxLayout="row">
            <button id="item98" mat-icon-button>
              <mat-icon id="item99">share</mat-icon>
            </button>
            <button id="item100" mat-icon-button>
              <mat-icon id="item101">favorite</mat-icon>
            </button>
            <span id="item102" fxFlex>
              {{ productConfirmationbySellerResponseListItem.orderStatus }}
            </span>
            <button id="item103" mat-raised-button color="blue">
              Accept Order
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <mat-form-field id="item110">
      <input
        id="item111"
        name="shippingAddress"
        matInput
        placeholder=" Shipping Address"
        [(ngModel)]="
          productConfirmationbySellerResponseListItem.shippingAddress
        "
      />
      {{ productConfirmationbySellerResponseListItem.shippingAddress }}
    </mat-form-field>
  </form>
</div> -->
<div *ngFor="
let productConfirmationbySellerResponseListItem of productConfirmationbySellerResponseList;
let i = index
"
(click)="
productConfirmationbySellerResponseListSelectedItem = productConfirmationbySellerResponseListItem
">
{{productConfirmationbySellerResponseListItem.productName }}
</div>