<mat-toolbar color="accent" class="pageHeader">
    <h2 fxFlex>Manage Operations</h2>
    <button matTooltip="Add Operations" [matTooltipPosition]="'below'" matTooltipClass="tooltip-clr" mat-mini-fab
        (click)="addOperation()" color="primary">
        <mat-icon mat-list-icon>note_add</mat-icon>
    </button>
</mat-toolbar>

<div fxLayout="row" fxLayout.xs="column" fxFlexFill>
    <ng-container *ngIf="listView">
        <mat-card-content fxLayout="column" fxFlex.gt-sm="20" fxFlex
            [fxHide.lt-md]="detailedView && mobileQuery.matches">
            <app-operations-list fxLayout="column" fxFlexFill (onSelectOperation)="onSelect($event)">
            </app-operations-list>
        </mat-card-content>
    </ng-container>


    <div fxLayout="column" fxFlex.gt-sm="80" fxFlex fxHide.lt-md [fxShow.lt-md]="detailedView && mobileQuery.matches">
        <mat-card-content fxFlex>
            <div fxLayout="row" fxLayoutAlign="end center" *ngIf="mobileQuery.matches">
                <button mat-flat-button (click)="backToListView()">
                    <mat-icon>arrow_back</mat-icon>back to list
                </button>
            </div>
            <app-operations-details *ngIf="selectedOperation" [selectedOperation]="selectedOperation"
                (onEditOperation)="onEdit($event)" (onDeleteOperation)="onDelete($event)" fxLayout="column" fxFlexFill>
            </app-operations-details>
            <app-noitem *ngIf="!selectedOperation" [noItem]="noItem" fxFlexFill></app-noitem>
        </mat-card-content>
    </div>
</div>