<mat-card fxFlex>
    <mat-card-header fxLayout="row" class="color-primary">
        <div fxFlex="15">
            <mat-card-title>Entity Name </mat-card-title>
            <mat-card-title>Description</mat-card-title>
        </div>
        <div>
            <mat-card-subtitle>{{selectedEntity.EntityName}}</mat-card-subtitle>
            <mat-card-subtitle>{{selectedEntity.Description}}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-actions dir="rtl" fxLayoutGap="15px">
        <button mat-flat-button color="primary" (click)="onEdit()">Edit</button>
        <button mat-flat-button color="warn" (click)="onDelete()">Delete</button>
    </mat-card-actions>
</mat-card>