<!-- <h1 mat-dialog-title>buynow</h1> -->
<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <form id="item3" #item3="ngForm">
      <mat-form-field id="item5">
        <input id="item6" matInput />
      </mat-form-field>
      <span id="item12"></span>
      <select id="item7">
        <option id="item8"></option>
        <option id="item9"></option>
        <option id="item10"></option>
      </select>
      <span id="item13"></span>
      <h3 id="item14">Order will be delivered in 3-5 Days</h3>
    </form>
  </div>
</div>
