<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <navigation id="item71"></navigation>
  <div id="item2" fxLayout="column" style="min-height:30px">
    <mat-tab-group id="item8">
      <mat-tab id="item9" label="Tab Item">
        <div id="item10" fxLayout="column" style="min-height:30px">
          <mat-form-field id="item13">
            <input id="item14" matInput placeholder="Search" />
          </mat-form-field>
          <div
            id="item16"
            fxLayout="row"
            fxLayoutGap="10px"
            style="min-height:30px"
          >
            <img id="item18" src="assets/coolboy.jpg" style="width:200px" />
            <img id="item19" src="assets/girlsuit2.0.jpg" style="width:200px" />
            <img id="item17" src="assets/girlSuit3.jpg" style="width:200px" />
            <img id="item20" src="assets/mysuit.jpg" style="width:200px" />
            <img id="item26" src="assets/wintergirl2.jpg" style="width:200px" />
            <img id="item27" src="assets/w1.jpg" style="width:200px" />
            <img id="item28" src="assets/Boyind.jpg" style="width:200px" />
          </div>
          <div id="item37" fxLayout="column" style="min-height:30px">
            <hr id="item48" />
            <h1 id="item55">PREMIUM CLOTHES</h1>
            <div
              id="item38"
              fxLayout="row"
              fxLayoutGap="10px"
              style="min-height:30px"
            >
              <img
                id="item40"
                src="assets/suitcollection.jpg"
                style="width:700px"
              />
              <img id="item41" src="assets/mensuit.jpg" style="width:750px" />
            </div>
          </div>
          <div id="item51" fxLayout="column" style="min-height:30px">
            <h1 id="item52">PREMIUM PERFUMES</h1>
            <div
              id="item39"
              fxLayout="row"
              fxLayoutGap="10px"
              style="min-height:30px"
            >
              <img id="item43" src="assets/prop1.jpg" style="width:350px" />
              <img id="item44" src="assets/Prpro.jpg" style="width:350px" />
              <img id="item45" src="assets/pr4.jpg" style="width:350px" />
              <img id="item46" src="assets/pr10.1.jpg" style="width:370px" />
            </div>
            <h1 id="item57">WEDDING SUITS</h1>
            <div
              id="item56"
              fxLayout="row"
              fxLayoutGap="10px"
              style="min-height:30px"
            >
              <img id="item58" src="assets/w1.jpg" style="width:350px" />
              <img id="item59" src="assets/byme.jpg" style="width:350px" />
              <img id="item60" src="assets/fashion3.jpg" style="width:350px" />
              <img id="item61" src="assets/wedind.jpg" style="width:350px" />
            </div>
            <h1 id="item73"></h1>
            <div
              id="item72"
              fxLayout="row"
              fxLayoutGap="10px"
              style="min-height:30px"
            >
              <h1 id="item89">
                Suggested For You
                <button
                  id="item96"
                  mat-button="true"
                  mat-raised-button="true"
                  color="primary"
                  type="button"
                >
                  View All
                </button>
                <h6 id="item93">
                  products
                  <div id="item94" fxLayout="column">
                    <div
                      id="item90"
                      fxLayout="row"
                      fxLayoutGap="10px"
                      style="min-height:30px"
                    >
                      <div id="item91" fxLayout="column">
                        <img
                          id="item85"
                          src="assets/boys10.jpg"
                          style="height:300px"
                          width="250px"
                        />
                      </div>
                      <div
                        id="item86"
                        fxLayout="column"
                        style="min-height:30px"
                      >
                        <img
                          id="item87"
                          src="assets/coolboywp1.jpg"
                          style="width:100px"
                        />
                        <img
                          id="item88"
                          src="assets/coolboywp2.jpg"
                          style="width:100px"
                        />
                      </div>
                    </div>
                  </div>
                </h6>
              </h1>
              <div
                id="item92"
                fxLayout="row"
                fxLayoutGap="10px"
                style="min-height:30px"
              ></div>
            </div>
            <h1 id="item69">MEN PREMIUM SHOES</h1>
            <div
              id="item62"
              fxLayout="row"
              fxLayoutGap="10px"
              style="min-height:30px"
            >
              <mat-card id="item63">
                <img id="item64" src="assets/boys12.jpg" style="width:245px" />
                <img id="item65" src="assets/boys9.jpg" style="width:245px" />
                <img id="item66" src="assets/boys7.jpg" style="width:245px" />
                <img id="item67" src="assets/boys10.jpg" style="width:245px" />
                <img id="item68" src="assets/boys8.jpg" style="width:245px" />
                <img id="item70" src="assets/boys3.jpg" style="width:245px" />
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab id="item11" label="Tab Item">
        <div id="item12" fxLayout="column" style="min-height:30px">
          <div
            id="item97"
            style="min-height:30px"
            fxFlex.gt-sm="25"
            fxFlex.gt-xs="50"
            fxFlex="100"
            *ngFor="
              let ProductFullDetailsResponseListItem of ProductFullDetailsResponseList;
              let i = index
            "
            (click)="
              ProductFullDetailsResponseListSelectedItem = ProductFullDetailsResponseListItem
            "
          >
            <mat-card id="item98" class=" pricing-plan">
              <mat-card-title id="item99">
                {{ ProductFullDetailsResponseListItem.brand }}
              </mat-card-title>
              <mat-card-subtitle id="item100" class=" mat-text-primary">
                {{ ProductFullDetailsResponseListItem.description }}
              </mat-card-subtitle>
              <h3 id="item113">
                {{ ProductFullDetailsResponseListItem.category }}
              </h3>
              <mat-card-content id="item101">
                <div id="item111" fxLayout="column">
                  <img
                    id="item112"
                    [src]="ProductFullDetailsResponseListItem.image"
                    style="width:500px"
                  />
                </div>
                <h1 id="item102" class=" plan-price">
                  Colour
                  <strong id="item103" class=" plan-price">
                    <span id="item104" class=" plan-price-symbol">
                      {{ ProductFullDetailsResponseListItem.colour }}
                      <br id="item114" />
                    </span>
                    <span id="item105">
                      {{ ProductFullDetailsResponseListItem.price }}
                      <br id="item115" />
                    </span>
                    <span id="item106" class=" plan-price-period">
                      {{ ProductFullDetailsResponseListItem.returnPolicy }}
                    </span>
                  </strong>
                </h1>
                <mat-list id="item107" dense>
                  <mat-list-item id="item108">
                    {{ ProductFullDetailsResponseListItem.timeForReplacement }}
                  </mat-list-item>
                </mat-list>
              </mat-card-content>
              <mat-card-actions id="item109" class=" pb-1">
                <button
                  id="item110"
                  color="accent"
                  mat-raised-button
                  type="submit"
                  (click)="addtocardfun()"
                >
                  Buy
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
