<mat-toolbar class="main-header" color="primary" *ngIf="authService.isAuthenticated" fxLayoutAlign="start center"
    fxLayoutGap="20px">
    <!-- <button (click)="toggleSidenav.emit()" mat-icon-button>
        <mat-icon>menu</mat-icon>
    </button> -->
    <div class="branding">
        <div class="logo" fxLayout="row" fxLayoutAlign="start center">
            <img *ngIf="project.logo.length > 0" src="{{project.logo}}" style="max-height:45px; padding-right: 20px;"
                alt="logo" />
            <span>{{ project.name | uppercase }}</span>
        </div>
    </div>
    <div fxFlex>
        <app-navigation fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="end center"></app-navigation>
    </div>   
</mat-toolbar>
