<div fxFlex fxLayout="column">
    <mat-list>
        <ng-container *ngIf="userList && userList.length >0">
            <mat-list-item *ngFor="let user of userList" [class.selected]="user === selectedUser"
                (click)="emitSelectedUser(user)">
                <div mat-list-icon class="ui-avatar color-primary">{{user.userName | slice:0:1 | uppercase}}</div>
                <h4 mat-line>{{user.userName}}</h4>
                <p mat-line> {{user.email}}</p>
                <mat-divider></mat-divider>
            </mat-list-item>
        </ng-container>
    </mat-list>
    <dew-mat-pager fxFlex="10" [(filter)]="userListFilters" (onPageChange)="pageChange()" [totalItem]="userListTotal">
    </dew-mat-pager>
</div>