<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <div id="item84" fxLayout="column">
      <div
        id="item3"
        style="min-height:30px"
        fxLayout="row"
        fxFlexFill
        fxLayout.xs="column"
      >
        <div
          id="item4"
          fxFlex="30"
          fxFlex.xs="50"
          *ngFor="
            let databyidResponseListItem of databyidResponseList;
            let i = index
          "
          (click)="databyidResponseListSelectedItem = databyidResponseListItem"
          class=" pa-1"
        >
          <mat-card id="item6">
            <img
              id="item83"
              [src]="databyidResponseListItem.image"
              style="width:300px"
            />
          </mat-card>
        </div>
        <div id="item5" fxFlex="70" fxFlex.xs="50" class=" pa-1">
          <div
            id="item85"
            style="min-height:30px"
            fxFlex.gt-sm="25"
            fxFlex.gt-xs="50"
            fxFlex="100"
          >
            <mat-card id="item86" class=" pricing-plan">
              <mat-card-title id="item87">
                {{ databyidResponseListItem.brand }}
              </mat-card-title>
              <mat-card-subtitle id="item88" class=" mat-text-primary">
                {{ databyidResponseListItem.totalsale }}
              </mat-card-subtitle>
              <mat-card-content id="item89">
                <h1 id="item90" class=" plan-price">
                  FREE
                  <strong id="item91" class=" plan-price">
                    <span id="item92" class=" plan-price-symbol">$</span>
                    <span id="item93">
                      {{ databyidResponseListItem.price }}
                    </span>
                    <span id="item94" class=" plan-price-period">
                      {{ databyidResponseListItem.category }}
                    </span>
                  </strong>
                </h1>
                <mat-list id="item95" dense>
                  <mat-list-item id="item96">Secure storage</mat-list-item>
                </mat-list>
              </mat-card-content>
              <mat-card-actions id="item97" class=" pb-1">
                <button id="item98" color="accent" mat-raised-button>
                  Choose Plan
                </button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
