<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item112" fxLayout="column" style="min-height:30px">
    <form id="item116" #item116="ngForm">
      <div
        id="item205"
        fxLayout="column"
        *ngFor="
          let orderDetailsResponseItem of orderDetailsResponse;
          let i = index
        "
        (click)="orderDetailsResponseSelectedItem = orderDetailsResponseItem"
      >
        <mat-list id="item206">
          <mat-list-item id="item207">
            <h3 id="item209" matLine="true">
              <img
                id="item200"
                src="https://www.pngkey.com/png/detail/147-1476341_products-packaging-white-icon-png.png"
                style="width:50px"
              />
              <p id="item210" matLine="true"></p>
              <span id="item218">{{ orderDetailsResponse.totalPrice }}</span>
              <br id="item219" />
              <span id="item211">{{ orderDetailsResponse.orderStatus }}</span>
            </h3>
          </mat-list-item>
        </mat-list>
        <h3 id="item220">{{ orderDetailsResponse.deliveringAddress }}</h3>
        <mat-form-field id="item212">
          <input
            id="item213"
            name="shippingAddress"
            matInput
            placeholder=" Shipping Address"
            [(ngModel)]="orderDetailsResponse.shippingAddress"
          />
        </mat-form-field>
        <mat-form-field id="item214">
          <input
            id="item215"
            matInput
            placeholder="Choose a date"
            [matDatepicker]="materialinput214"
          />
          <mat-datepicker-toggle
            id="item216"
            [for]="materialinput214"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker id="item217" #materialinput214></mat-datepicker>
        </mat-form-field>
        <div
          id="item180"
          fxLayout="row"
          fxLayoutGap="10px"
          style="min-height:30px"
        >
          <button
            id="item127"
            mat-button="true"
            mat-raised-button="true"
            mat-icon-button="true"
            color="primary"
            type="button"
          >
            <mat-icon id="item128" (click)="updateProductDetailsFun()">
              done
            </mat-icon>
          </button>
          <button
            id="item129"
            mat-button="true"
            mat-raised-button="true"
            mat-icon-button="true"
            color="primary"
            type="button"
          >
            <mat-icon id="item130">cancel_presentation</mat-icon>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
