<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="row" fxLayoutGap="10px" style="min-height:30px">
    <mat-card
      id="item3"
      fxLayoutGap="10px"
      fxLayoutAlign="end"
      backgroundColor="white"
    >
      <mat-form-field id="item13">
        <input id="item14" matInput />
      </mat-form-field>
    </mat-card>
    <button
      id="item22"
      mat-button="true"
      mat-raised-button="true"
      mat-icon-button="true"
      color="primary"
      type="button"
    >
      <mat-icon id="item23">shopping_cart</mat-icon>
    </button>
    <button
      id="item16"
      mat-button="true"
      mat-raised-button="true"
      color="primary"
      type="button"
    >
      LOGIN
    </button>
    <button
      id="item15"
      mat-button="true"
      mat-raised-button="true"
      color="primary"
      type="button"
    >
      HOME
    </button>
    <button
      id="item27"
      mat-button="true"
      mat-raised-button="true"
      color="primary"
      type="button"
      (click)="sellerSignup()"
    >
      seller
    </button>
    <button
      id="item25"
      mat-button="true"
      mat-raised-button="true"
      mat-icon-button="true"
      color="primary"
      type="button"
    >
      <mat-icon id="item26">perm_identity</mat-icon>
    </button>
    <button
      id="item28"
      mat-button="true"
      mat-raised-button="true"
      color="primary"
      type="button"
      (click)="sellerloginfun()"
    >
      Seller Login
    </button>
    <img id="item21" src="assets/richcard.png" style="width:100px" />
  </div>
  <div id="item18" fxLayout="column" backgroundColor="blue"></div>
</div>
