<h1 mat-dialog-title>Edit Document</h1>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
<div mat-dialog-content fxLayout="column">
    <mat-form-field>
        <input matInput placeholder="Module Name" value="Documents" [(ngModel)]="document.ModuleName" name="ModuleName"  disabled>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Name" [(ngModel)]="document.Name" name="Name" maxlength="32" #Name="ngModel"
            required pattern="^[^-\s][a-zA-Z0-9\D_\s-]+$" />
        <mat-error *ngIf="f.submitted && Name.invalid && Name.errors.required">Name is required
        </mat-error>
        <mat-error *ngIf="f.submitted && Name.invalid && Name.errors.pattern">Name is invalid
        </mat-error>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)]="document.Description" name="Description" maxlength="32"
            #Description="ngModel" required pattern="^[^-\s][a-zA-Z0-9\D_\s-]+$" />
        <mat-error *ngIf="f.submitted && Description.invalid && Description.errors.required">Description is required
        </mat-error>
        <mat-error *ngIf="f.submitted && Description.invalid && Description.errors.pattern">Description is invalid
        </mat-error>
    </mat-form-field>
    <br/>
    <file-input [document]="document" [fileType]="'document'" class="element" FileNameField="FileName"
        OriginalFileNameField="OriginalFileName" MimeTypeField="MimeType">
        </file-input>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" type="button" (click)="cancelPopup()">Cancel</button>
        <button mat-button color="primary" type="submit">Save</button>
    </div>
</form>
