<mat-card fxFlex>
    <mat-card-header fxLayout="row" class="color-primary">
        <div fxFlex="15">
            <mat-card-title>Name </mat-card-title>
            <mat-card-title>Description</mat-card-title>
        </div>
        <div>
            <mat-card-subtitle>{{selectedDocument.Name}}</mat-card-subtitle>
            <mat-card-subtitle>{{selectedDocument.Description}}</mat-card-subtitle>
        </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <h3> Preview</h3>
        <ng-container
            *ngIf="(selectedDocument.MimeType && selectedDocument.MimeType.startsWith('image/')); else noPreview">
            <img [src]="userDoc" style="max-width: 200px;" alt="image" />
        </ng-container>
        <ng-template #noPreview>
            <img src="https://other-projects.s3.amazonaws.com/no-preview.png" style="max-width: 200px;" alt="image" />
        </ng-template>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions dir="rtl" fxLayoutGap="15px">
        <button mat-flat-button color="primary" [disabled]='!alloweditdelete' (click)="onEdit()">Edit</button>
        <button mat-flat-button color="warn" [disabled]='!alloweditdelete' (click)="onDelete()">Delete</button>
    </mat-card-actions>
</mat-card>