<table datatable [dtOptions]="dtOptions" (dtInstanceCallback)="dtInstanceCallback($event)" class="row-border hover">
    <thead>
        <tr>
            <th>Entity Name
                <datatable-filter [(filter)]="filters.EntityName" (onSearch)="filterChanged()"></datatable-filter>
            </th>
            <th>Operation Name
                <datatable-filter [(filter)]="filters.OperationName" (onSearch)="filterChanged()"></datatable-filter>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataSource">
            <td>{{ item.EntityName }}</td>
            <td>{{ item.OperationName }}</td>
        </tr>
    </tbody>
</table>