<h1 mat-dialog-title>Add Role Entity Operation</h1>
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <div mat-dialog-content fxLayout="column">
        <mat-form-field *ngIf="data.securityEntities && data.securityEntities.length>0">
            <mat-select placeholder="Entity Name" [(ngModel)]="data.roleOperation.EntityName" name="entityName"
                #entityName="ngModel" required>
                <mat-option *ngFor="let entity of data.securityEntities" [value]="entity.EntityName">
                    {{entity.EntityName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="f.submitted && entityName.invalid && entityName.errors.required">Entity Name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field *ngIf="data.operations && data.operations.length > 0">
            <mat-select placeholder="Operation Name" [(ngModel)]="data.roleOperation.OperationName" name="operationName"
                #operationName="ngModel" required>
                <mat-option *ngFor="let operation of data.operations" [value]="operation.OperationName">
                    {{operation.OperationName}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="f.submitted && operationName.invalid && operationName.errors.required">Operation Name is
                required
            </mat-error>
        </mat-form-field>
        <p
            *ngIf="!(data.securityEntities && data.securityEntities.length>0) || !(data.operations && data.operations.length > 0)">
            Create a security entity and an operation</p>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" type="button" (click)="cancelEdit()">Cancel</button>
        <button mat-button
            [disabled]="!(data.securityEntities && data.securityEntities.length>0) || !(data.operations && data.operations.length > 0)"
            color="primary" type="submit">
            Save
        </button>
    </div>
</form>