<h1 mat-dialog-title>Edit Roles</h1>
<form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <div mat-dialog-content fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Role Name" [(ngModel)]="data.role.RoleName" name="roleName" #roleName="ngModel"
                required pattern="^[a-zA-Z]*$">
            <mat-error *ngIf="f.submitted && roleName.invalid && roleName.errors.required">Role Name is required
            </mat-error>
            <mat-error *ngIf="f.submitted && roleName.errors?.pattern">Role Name is invalid.
            </mat-error>
        </mat-form-field>
        <div fxLayout="column">
            <h6>Parent Role</h6>
            <mat-list>
                <ng-container *ngFor="let role of data.roleList;let i=index">
                    <mat-list-item *ngIf="role.RoleName != data.role.RoleName">
                        <mat-checkbox class="checkbox" name="parentRoles-{{i}}" [checked]="role.isChecked"
                          [(ngModel)]="role.isChecked">{{role.RoleName}}</mat-checkbox>
                    </mat-list-item>
                </ng-container>
            </mat-list>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-button color="warn" type="button" (click)="cancelEdit()">Cancel</button>
        <button mat-button color="primary" type="submit">Save</button>
    </div>
</form>
