<div id="item1" fxLayout="column" fxFlex="100" style="min-height:30px">
  <div id="item2" fxLayout="column" style="min-height:30px">
    <mat-card id="item3">
      <form id="item4" #item4="ngForm" (ngSubmit)="loginfun()">
        <mat-form-field id="item13">
          <input
            id="item14"
            name="Email"
            matInput
            placeholder=" Email"
            [(ngModel)]="login.Email"
          />
        </mat-form-field>
        <mat-form-field id="item17">
          <input
            id="item18"
            name="Password"
            matInput
            placeholder=" Password"
            [(ngModel)]="login.Password"
          />
        </mat-form-field>
        <button
          id="item9"
          mat-button="true"
          mat-raised-button="true"
          color="primary"
          type="submit"
        >
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
