<div class="session">
  <div class="session-content text-xs-center">
    <div>
      <div class="error-title" *ngIf="!data.completed">Wait</div>
      <div class="error-title" *ngIf="data.completed">Completed</div>

      <div class="error-subtitle" *ngIf="!data.completed && data.afterM">The Meeting has expired!</div>
      <div class="error-subtitle" *ngIf="!data.completed && data.aheadM">The Meeting has not yet begun!</div>
      <div class="error-subtitle" *ngIf="data.completed">The Meeting has got completed!</div>

      <!-- <p class="mat-text-muted">Sorry, but the page you were trying will be available during your meeting time.</p> -->
    </div>
  </div>
</div>