<h1 mat-dialog-title>Edit Operation</h1>
<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
    <div mat-dialog-content fxLayout="column">
        <mat-form-field>
            <input matInput placeholder="Operation Name" [(ngModel)]="operation.OperationName" name="operationName"
                #operationName="ngModel" required disabled pattern="^[^-\s][a-zA-Z0-9\D_\s-]+$" />

            <mat-error *ngIf="f.submitted && operationName.invalid && operationName.errors.required">
                Operation name is required
            </mat-error>
            <mat-error *ngIf="f.submitted && operationName.invalid && operationName.errors.pattern">
                Operation name is invalid
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" [(ngModel)]="operation.Description" name="operationDescription"
                #operationDescription="ngModel" required pattern="^[^-\s][a-zA-Z0-9\D_\s-]+$" />

            <mat-error *ngIf="f.submitted && operationDescription.invalid && operationDescription.errors.required">
                Operation description is required
            </mat-error>
            <mat-error *ngIf="f.submitted && operationDescription.invalid && operationDescription.errors.pattern">
                Operation description is invalid
            </mat-error>
        </mat-form-field>
    </div>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="cancelPopup()">Cancel</button>
        <button mat-button color="primary" type="submit">Save</button>
    </div>
</form>
